#akhila {
  color: red;
}

#anila {
  color: purple;
}

.headerCSS {
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
}

.logo324grht {
  width: 250px;
}

.nav-items1 {
  padding: 0px 50px;
}

.nav-items1 > ul {
  display: flex;
  list-style-type: none;
}

.nav-items1 > ul > li {
  font-size: 20px;
  padding: 10px;
  margin: 10px;
}

.res-card {
  width: 200px;
  height: 300px;
  padding: 10px;
  margin: 5px;
}

.res-card:hover {
  cursor: pointer;
  border: 1px solid black;
}

.res-conatiner {
  display: flex;
  flex-wrap: wrap;
}

.searchCss {
  padding: 10px;
}
